.form-container{
    margin: 0 auto;
    padding: 80px 0;
    max-width: 900px;
}

form{
    width: 100%;
}

.full-width{
    width: 100%;
}

section.edit-user-section{
    background-color: #424242;
    color: #fafafa;
}